@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Poppins';
    font-weight: regular;
}

/* @media (max-width: 1440px) {
  body{
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  body{
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  body{
    max-width: none;
  }
} */

body{
  min-width: 1400px;
  /* max-width: 1400px; */
  margin: 0 auto;
  /* border: 1px solid #bdbdbd;  */
  padding: 0 30px;
}

header{
  width: 1441px;
  height: 881px;
  background-image: url('Img/Bitmap.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav{
  width: 1111px;
  height: 43px;
  display: flex;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.logo {
  display: flex;
}
.logo_image { 
  margin-right: 12px;
}
.logo_text{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.burger{
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-logo {
  width: 616px;
  margin-top: 188px;
  margin-left: 166px;
}
h1{
  color: white;
  font-weight: bold;
  font-size: 4rem;
  line-height: 2.5rem;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 24px;
}
.min-text {
  color: white;
  margin-bottom: 24px;
  font-weight: 200;
  line-height: 26px;
}
.link {
  font-family: 'Roboto';
  color: #D4D6D4;
  text-decoration-line: underline;
  transition-duration: 0.5s;
}

.link:hover{
  color: #FFD723;
}

.icon-stak {
  width: 1276px;
  height: 227px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 777px;
  margin-left: 165px;
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.343);
  transition-duration: 0.5s;
}

.icon-stak:hover {
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.585);
}
 
.content-star{ 
  display: flex; 
  justify-content: center; 
}

.content {
  width: 1109px;
  height: 644px;
  display: flex; 
  justify-content: space-between;
  align-items:end;
}
 
.content_text {
  width: 475px;
  height: 366px;
}

.content-text {
  margin-bottom: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 83, 60, 0.9);
}

.content_text-h2{
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
}

strong{
  background-color: rgba(255, 215, 35, 0.1);
}

.content-text2 {
  margin-bottom: 42px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: rgba(33, 56, 66, 0.6);
}

.link2{
  font-family: 'Roboto';
  color: #D4D6D4;
  text-decoration-line: underline;
  transition-duration: 0.5s;
}

.link2:hover{
  color: #FFD723;
}

.content_massadge {
  width: 474px;
  height: 644px;
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.343);
  transition-duration: 0.5s;
}

.content_massadge:hover {
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.585);
}

.content_massadge_init{
  margin-top: 244px;
  margin-left: 40px;
  width: 426px;
  height: 340px;
  position: relative;
}

.massadge_text {
font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 40px;
color: #4D533C;
}

.massadge_log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 358px;
  height: 90px;
  margin: auto, ;
  position: absolute;
  bottom: 0;
}

.massadge_log_img {
  border-radius: 50%;
}

.log_texts{
  width: 238px;
  height: 62px;
  margin: 14px 0 14px 30px;
}

.massadge_log_h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
color: #4D533C;
margin-bottom: 8px;
}

.massadge_log_text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
color: #152934;
}

.line {
  width: 1109px;
  margin: 150px auto;
  height: 1px;
  background-color:#00000021;
}  

.main_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 976px;
  height: 102px;
  margin: 0 auto 110px;
}
.card1_right-h2{
  width: 325px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
}

 .main_text-h2{
  width: 325px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
 }

 .left-h2{
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
 }

 .card1_right-h2{
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
 }

.massadge_log_text {
  width: 518px;
}

.main_card1 {
  display: flex;
  width: 1306px;
  height: 615px;
  margin-bottom: 165px;
  position: relative;
}

.card1_left {
margin-right: 96px;
}

.card1_right { 
  width: 475px;
  height: 397px;
  margin-top: 80px;
  position: relative;
}

.content-text2 {
  width: 421px;
}

.link3 {
  position: absolute;
  bottom: 0;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
transition-duration: 0.5s;
}

.link3:hover{
  color: #FFD723;
}

.main_massadge {
  position: absolute;
  top: 372px;
  left: 322px;
  width: 453px;
  height: 243px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.343);
  transition-duration: 0.5s;
}

.main_massadge:hover {
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.585);
}

.three{
  height: 210px;
}

.main_massadge_text {
  width: 390px;
  height: 111px;
  margin: 30px 33px auto 30px;
}

.main_massadge_log {
  width: 220px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.three2{
  margin-top: 24px;
}

.main_massadge_log_img {
  width: 46px;
  height: 46px; 
  border-radius: 50%;
}

.log_texts {
  width: 160px;
  height: 48px;
}

.main_log_h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
color: #4D533C;
}

.main_log_text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
color: #152934;
}




.main_card2{
  display: flex;
  justify-content: space-between;
  width: 1268px;
  height: 585px;
  margin-bottom: 165px;
  margin-left: 172px;
  position: relative;
}

.card2_left {
  width: 475px;
  height: 397px;
  margin-top: 80px;
  position: relative;
}

.content2-text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: rgba(33, 56, 66, 0.6);
margin-bottom: 42px;
} 

.link4 {
  position: absolute;
  bottom: 0;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
transition-duration: 0.5s;
}

.link4:hover{
  color: #FFD723;
}

.card2_right {
  width: 735px;
  height: 550px;
  margin-left: 58px;
}




.main2_massadge {
  position: absolute;
  top: 342px;
  right: 322px;
  width: 453px;
  height: 243px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.343);
  transition-duration: 0.5s;
}

.main2_massadge:hover {
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.585);
}

.main2_massadge_text {
  width: 390px;
  height: 111px;
  margin: 30px 33px auto 30px;
}

.main2_massadge_log {
  width: 220px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 24px;
}

.main2_massadge_log_img {
  width: 46px;
  height: 46px; 
  border-radius: 50%;
}

.log2_texts {
  width: 160px;
  height: 48px;
}

.main2_log_h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #4D533C;
}

.main2_log_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #152934;
}

/* Список табличный */
.table {
  width: 1110px;
  height: 461px;
  margin: 0 auto 322px auto;
}

.table_text {
  width: 607px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 31px;
  line-height: 46px;
  color: #4D533C;
}

.table_cards {
  width: 1110px;
  height: 309px;
  display: flex;
  justify-content: space-between;
}

.table_card1 { 
width: 255px;
position: relative;
}

.card-text1 {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 34px;
text-transform: uppercase;
color: #4D533C;
width: 183px;
margin: 27px auto 20px 30px;
} 

.card-text2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
color: rgba(33, 56, 66, 0.6);
width: 194px;
margin-left: 30px;

}

.link5 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
width: 183px;
position: absolute;
bottom: 36px;
left: 30px;
transition-duration: 0.5s;
}

.link5:hover{
  color: #FFD723;
}

.table_card2 {
  width: 255px;
  position: relative;
}

.table_card3 {
  width: 255px;
  position: relative;
}

.table_card4 { 
  width: 255px;
  position: relative;
}
 
/* Футер */
footer {
  width: 1440px; 
  height: 920px;
  background-image: url('Img/Call\ to\ action.jpg');
  background-position: 0 0;
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  position: relative;
}

.footerAll {
  width: 1111px;
  height: 580px;
  margin: 0 auto;
  margin-top: 310px;
  align-self: flex-start;
  display: block;
}

.footer_phone {
  width: 452px;
  height: 88px;
  display: flex;
  gap: 128px;
  margin-bottom: 52px;
}

.phone_start {
  /* height: 40px; */
  margin-bottom: 8px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #B6C197;
}

.finish {
  /* height: 40px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 40px;
color: #FFFFFF;
}

.footer_line {
  width: 1111px;
  margin: 0 auto;
  height: 1px;
  background-color:#00000021;
}

.footer_servise {
  width: 1111px;
  height: 320px;
  display: flex;
  margin-top: 60px;
}

.servise1 {
  width: 167px;
  height: 259px;
  margin-right: 70px;
}

.servise_text-h4 {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 38px;
text-transform: uppercase;
color: #FFFFFF;
}

.servise_text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #B6C197;
margin-top: 21px;
}

.servise_text-string {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #B6C197;
  margin-top: 21px;
  margin-bottom: 23px;
  line-height: 1.5;
  }

.servise2 {
  width: 160px;
  height: 219px;
  margin-right: 100px;
} 

.servise3 {
  width: 167px;
  height: 219px; 
  margin-right: 124px;
}

.servise4 {
  height: 232px;
}

.footer_email {
  margin-top: 53px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 38px;
color: #FFFFFF;

}

.icon-link-All {
  display: flex;
  gap: 10px;
  margin-top:15px;
  position: relative;
}

.elips{
  background-color: #444A34;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.elips:hover{
  background-color: #FFD723;
}



.elips-link{
  position: absolute;
  top: 6px;
  margin-left: 6px;
}

.elips_icon{
  
}

.footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.logo-down {
  display: flex;
}

.logo-down_img {
  margin-top: 7px;
  margin-right: 7px;
  width: 43px;
  height: 28px;
}

.logo-down_text {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.yelow {
color: #EDB91B;
}

.copirite-down_text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #B5C096;
}


.footerUp {
  position: absolute;
  bottom: 730px;
  width: 1275px;
  height: 362px;
  display: flex;
  background-color:#FAFAFA;
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.343);
  transition-duration: 0.5s;
}

.footerUp:hover {
  box-shadow: 0px 100px 150px rgba(0, 0, 0, 0.585);
}

.footerUp_texts {
  width: 822px;
  height: 221px;
  margin-top: 70px;
  margin-left: 164px;
  align-self: flex-start;
}
 
.footerUp_text-h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700; 
font-size: 55px;
line-height: 74px;
color: #4D533C;
margin-bottom: 50px;
}

.footerUp_link {
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
text-transform: uppercase;
transition-duration: 0.5s;
}

.footerUp_link:hover{
  color: #FFD723;
}

/* Бургер меню */
.burgerAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
}

.burger-btn {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-btn span {
  margin: 3px auto;
  width: 60%;
  height: 5px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  transition: 0.3s;
}

/* Скрытое меню */
.nav-menu {
  position: fixed;
  top: 100px;
  left: -100%; 
  width: 250px;
  height: 550px;
  background: #767676ea;
  padding: 50px 20px; 
  transition: 0.3s; 
}

.nav-menu ul {
  list-style: none;
  padding: 0;
}

.nav-menu ul li {
  margin: 20px 0;
}

.nav-menu ul li a {
  color: #FFD723;
  text-decoration: none;
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 35px;
}

/* Когда меню открыто */
.nav-menu.active {
  left: 0;
}